
/* media query section*/
@media screen and (max-width: 576px) {
    .nav-title {
        font-size: 20px;
    }  
    .list a {
        display: none;
    } 
    .block {
        display: block;
    }
    .banner-title {
        font-size: 30px;
    }
    .banner-description {
        color: rgb(114, 114, 114);
        font-size: 12px;
        width: 97%;
    }
    .banner-btn {
        font-size: 14px;
        background: rgb(255, 144, 14);
        width: 140px;
        height: 40px;
 
    }
    .banner-img {
        width: 300px;
        height: 200px;
    }
    .features {
        display: flex;
       flex-direction: column;
    }
    .feature-img img {
        width: 152px;
        height: 152px;
    }
    .f-descripton {
        font-size: 12px;
        text-align: justify;
    }
    .f-title {
        font-size: 30px;
    }
    /* service section */
.service-section {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 80px;
}
.service {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
}
.service-title {
    font-size: 30px;
}
.service-description {
    font-size: 12px;
}
.service-img {
    width: 270px;
    height: 302px;
}
.box-title {
    font-size: 16px;
}
.box-description {
    font-size: 12px;
}
.ten {
    display: none;
}

/* fact section */
.fact-section {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 80px;   
}
.fact-title {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
}
.fact-description {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    width: 97%;
    margin-bottom: 30px;
}
.s-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid darkorange;
    padding: 1px;
}
.container {
    display: flex;
    gap: 5px;
}

}
