/* import font family for this project */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0px 0px 0px;
}
.nav-title {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: center;
}
.list a {
    text-decoration: none;
    margin: 0px 0px 0px 20px;
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.hidden {
    display: none;
}

/* banner section */
.banner {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.banner-title {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;
}
.banner-description {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
    width: 50%;
    margin-bottom: 25px;
}
.banner-img {
    width: 1200px;
    height: 500px;
    margin-bottom: 30px;
}
.banner-section {
    margin: 100px 0px 0px 0px;
}
.banner-btn {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    width: 180px;
    height: 56px;
    border: none;
    margin-bottom: 25px;
}
.banner-btn:hover {
    background-color: red;
    transition: 0.4s;
    cursor: pointer;
}
.bg-color {
    background: rgba(255, 144, 14, 0.1);
}

/* feature section */
.feature-section {
    width: 70%;
    margin: 0 auto;
    margin-top: 80px;
}
.features {
    display: flex;
    align-items: center;
    gap: 55px;
}
.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}
.feature-img img {
    width: 302px;
    height: 302px;
}
.f-descripton {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 10px;
}
.f-title {
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
}
.one {
    color: gray;
    font-weight: 500;
}
.two {
    color: darkorange;
}

/* media query section*/
@media screen and (max-width: 576px) {
    .nav-title {
        font-size: 20px;
    }  
    .list a {
        display: none;
    } 
    .block {
        display: block;
    }
    .banner-title {
        font-size: 30px;
    }
    .banner-description {
        color: rgb(114, 114, 114);
        font-size: 12px;
        width: 97%;
    }
    .banner-btn {
        font-size: 14px;
        background: rgb(255, 144, 14);
        width: 140px;
        height: 40px;
 
    }
    .banner-img {
        width: 300px;
        height: 200px;
    }
    .features {
        display: flex;
       flex-direction: column;
    }
    .feature-img img {
        width: 152px;
        height: 152px;
    }
    .f-descripton {
        font-size: 12px;
        text-align: justify;
    }
    .f-title {
        font-size: 30px;
    }

}
