/* import font family for this project */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0px 0px 0px;
}
.nav-title {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: center;
}
.list a {
    text-decoration: none;
    margin: 0px 0px 0px 20px;
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.hidden {
    display: none;
}


/* media query section*/
@media screen and (max-width: 576px) {
    .nav-title {
        font-size: 20px;
    }  
    .list a {
        display: none;
    } 
    .block {
        display: block;
    }

}
