/* import font family for this project */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0px 0px 0px;
}
.nav-title {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: center;
}
.list a {
    text-decoration: none;
    margin: 0px 0px 0px 20px;
    color: rgb(66, 66, 66);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}
.hidden {
    display: none;
}

/* banner section */
.banner {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.banner-title {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 54px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;
}
.banner-description {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
    width: 50%;
    margin-bottom: 25px;
}
.banner-img {
    width: 1200px;
    height: 500px;
    margin-bottom: 30px;
}
.banner-section {
    margin: 100px 0px 0px 0px;
}
.banner-btn {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    width: 180px;
    height: 56px;
    border: none;
    margin-bottom: 25px;
}
.banner-btn:hover {
    background-color: red;
    transition: 0.4s;
    cursor: pointer;
}
.bg-color {
    background: rgba(255, 144, 14, 0.1);
}

/* feature section */
.feature-section {
    width: 70%;
    margin: 0 auto;
    margin-top: 80px;
}
.features {
    display: flex;
    align-items: center;
    gap: 55px;
}
.feature-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}
.feature-img img {
    width: 302px;
    height: 302px;
}
.f-descripton {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 10px;
}
.f-title {
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
}
.one {
    color: gray;
    font-weight: 500;
}
.two {
    color: darkorange;
}
/* service section */
.service-section {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 80px;
}
.service {
    display: flex;
    gap: 50px;
    position: relative;
}
.service-title {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    text-align: left;
    font-weight: 700;
    margin-bottom: 12px;
}
.service-description {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    text-align: left;
    margin-bottom: 27px;
}
.service-img {
    width: 608px;
    height: 702px;
}
.box-title {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 3px;
}
.box-description {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
.box {
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 10px;
}
.ten {
    position: absolute;
    bottom: 0px;
    right: 370px;
    background-color: darkorange;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 40px 60px;
    border-radius: 10px;
    border: none;
    color: white;
    text-align: center;
    font-family: Work Sans;
    opacity: 0.7;
}
/* fact section */
.fact-section {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 80px;   
}
.fact-title {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
}
.fact-description {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    width: 50%;
    margin-bottom: 30px;
}
.s-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid darkorange;
    padding: 30px 20px;
}
.container {
    display: flex;
    justify-content: space-evenly;
}

/* sponsor section */
.sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}
.s-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}
.s-title {
    color: rgb(19, 19, 19);
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}
.s-des {
    color: rgb(114, 114, 114);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-bottom: 30px;
}